@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@media screen and (max-width:728px) {

    img {
        height: 25px;
    }
    #btn {
        display: flex;
        cursor: pointer;
        color: white;
        background:none;
        border:none;
        gap: 1em;
          
    }

    #hamburguer {
        border-top: 3px solid white;

    }

    #hamburguer::after, #hamburguer::before {
        content:'';
        display: block;
        height: 2px;
        width: 25px;
        background:currentColor ;
        margin-top: 5px;
        transition: .3s;

    }

    #nav.active #hamburguer {
        border-top-color: transparent ;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        position: relative;
        top: -7px; /*só funciona se o position for relativo,absolute,ou fixed*/
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top:70px;
        right: 0px;
        background-image: linear-gradient(to top, var(--cor-1),var(--cor-2));
        height: 0px;
        z-index: 1000;
        text-align: center;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu a {
        padding-top: 20px;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        /*overflow-y: auto; Quando o menu estiver com muitos itens*/
    }

    section.img {
        
        background-repeat: repeat-x;
        background-size: cover;
        background-position: left;
        width: 100%;
        
    }

    .line {
        padding-top: 20px;
    }

    .button {
        width: 200px;
        height: 50px;
        margin:50px 0px 0px 50px;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.4em;
        border: 2px solid cyan ;
        color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 5px blue;
    }

    
        
    
    .Servicos {
        
        display: flex;
        flex-direction:column ;
        align-items: center;
        margin-top: 60px;
        font-family: 'Raleway', sans-serif;;
        
    }

    .desenvolvimento {
        
        width: 70vw ;
        height: 160px;
        background-color: darkblue;
        color: white;
        border-radius: 10px;
    }

    .desenvolvimento h3 {
       
        margin: 0px;
        padding:0px 20px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .desenvolvimento p {
       font-family: Arial, Helvetica, sans-serif;
       margin: 0px;
       padding-top: 10px;
       padding-left: 20px;
       
    }

    .material-symbols-outlined {
        padding: 10px 25px;
        color: rgba(245, 245, 245, 0.485);
        font-size: 2em;
    }

    .Projum {
        width:80% ; 
    }

    .Projum p {

        font-size: .7em;
    }
    
    .Projdois {
        width:80% ;
        
    }

    .Projdois p {
        
        font-size: .7em;
    }

    .sobre img {
        width: 250px;
        height: 280px;
        border-radius: 5px;
    }

    .svg {
        
        gap: 2em;
    }

    
    

    

    
    
}   