@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


:root {
    --cor-1:#1C1C1C;
    --cor-2:#363636;
    --cor-3:#4F4F4F;
    --cor-4:#696969;
    --cor-5:#808080;
}

body, ul {
    margin: 0px;
    padding: 0px;
}

img.angel {
    height: 30px;
    width: 150px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    
}

a:hover {

    color: cyan;
}

#logo {
    
    font-size: 2em; 
}

#header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 70px;
    background-image: linear-gradient(to bottom, var(--cor-1),var(--cor-2));
    
}

#menu {
    display: flex;
    list-style: none;
    gap: 2em;
       
}

#menu a {
    display: block;
    padding: .5em ;
    
}

#btn {
    display: none;
}

section.img {
    
    width: 100vw;
    height: 50vh;
    background: url(../imagens/html3.png) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 2px ;
    
}

.line {
    margin: 0px;
    padding-top: 10px;
    padding-left: 15px;
    border-right: 2px solid black ;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5em;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
     animation: blinkCursor 500ms 4 steps(40)  normal, typing 1s steps(40) 1s normal both ;

}


.meu {
    margin: 0px;
    padding-left: 40px;
    border-right: 2px solid transparent;
    color: white;
    font-family: 'Cormorant Garamond', serif;    
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;    

}
.tipo-meu {
    animation: blinkCursor 500ms steps(40) 8 normal, typinome 2s steps(40) 2s normal both ;    
}

.ang {
    margin: 0px;
    padding-left: 150px;
    border-right: 2px solid transparent;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;      
}
.tipo-angel {
    animation: blinkCursor 500ms steps(40) 17 normal, typiang 1s steps(40) 4s normal both ;   
}

@keyframes typiang {
    from {width: 0px;}
    to{width: 2.3em;}
}

@keyframes typinome {
    from {width: 0px;}
    to{width: 4.7em;}
}

@keyframes typing {
    from {width: 0px;}
    to{width: 1.6em;}
}

@keyframes blinkCursor {
    from {
        border-right-color:black;
    }
    to {
        border-right-color:transparent ;
    }
}

.button {
    width: 200px;
    height: 50px;
    margin:30px 0px 0px 120px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4em;
    border: 2px solid cyan ;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 5px blue;
}











    
